<div class="container">
  <h3>Angular Forms</h3>
  <form>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" name="firstName" placeholder="First Name">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" name="lastName" placeholder="Last Name">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Full Time Employee
      </label>
    </div>
    <label>Payment Type</label>
    <div class="radio">
      <label>
        <input type="radio" name="pay-type" value="w2"> W2
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="pay-type" value="1099"> 1099
      </label>
    </div>
    <div class="form-group">
      <label>Primary Language</label>
      <select class="form-control">
        <option *ngFor="let lang of languages">{{lang}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Date Hired</label>
      <input type="date" class="form-control">
    </div>
    <div class="form-group">
      <button class="btn btn-primary">OK</button>
    </div>

  </form>
</div>

